.footer-paginate {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;

  a {
    background: #333;
    box-shadow: 0;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 30px;
  }

  span {
    display: none;
  }
}
