html,
body {
  background: #fafbfc;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ,
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
b,
strong {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ,
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

ul,
ol,
blockquote {
  margin-left: 20px;
}

blockquote {
  padding-left: 0;
}

.footer-more {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  a {
    background: #333;
    color: #fff;
    box-shadow: 0;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 30px;
  }
}
